

body{
margin: 0;
padding-top: 1px;
padding-right: 0px;
padding-bottom: 1px;
padding-left: 0px;
font-size: medium;
}

div.light-gray-back {
  background-color:  rgba(200, 200, 200, 0.7);
  width: cover;
  height: cover;
}
div.light-blue-back {
  background-color:  rgba(100, 100, 250, 0.8);
  background-color: #007bff;
  background-size: cover;
  width: cover;
  height: 100%;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom:10px;
  padding-left: 20px;
}
div.end-back {
  border-radius: 100px;
  background-color: #007bff;
    background-color:  rgba(0, 100, 255, 0.8);
  background-image: url('../static/numbers4.jpg');
  background-size: cover;
  width: cover;
  height: 200px;

  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
}

div.etd-img {
  width: 100%;
  height: 100%;
  background: url('../static/number_funnel_bw.jpg');
  background-size: cover;
}
.p-center{
  text-align: center;
}

div.etd-img2 {
  width: 100px;
  height: 100px;
  background: url('../static/number_funnel_bw.jpg');
  background-size: cover;
}
div.etd-img3 {
  width: 100px;
  height: 100px;
  background: url('../static/number_funnel_bw.jpg');
  transform: rotate(180deg);
    display: inline-block;
      float: center;
}
div.nn-img {
  width: 100px;
  height: 100px;
  background: url('../static/neural-network.jpg');
  background-size: cover;
}
div.svm-img {
  width: 200px;
  height: 200px;
  background: url('../static/svm.jpg');
    background-color: #007bff;
  background-size: cover;
  display: inline-block;
}
div.heap-img {
  width: 120px;
  height: 100px;
  background: url('../static/heap.png');
  background-size: cover;
}
div.bb-img {
  width: 180px;
  height: 200px;
  background: url('../static/bagboost.jpg');
  background-size: cover;
  display: inline-block;
  float: right;
}



div.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000; /*Sets the text hover color on navbar*/
    margin : 0 ;
}

div.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
        margin : 0 !important;
margin-bottom: 0;
margin: 0;
padding: 0;
}
div.navbar-default  {
    color: white; /*BACKGROUND color for active*/
        margin : 0px!important;
        margin-bottom: 0;
}
.navbar{
    color: black; /*BACKGROUND color for active*/
    background-color: rgba(245, 245, 245, 0.3);
        margin : 0 !important;
        margin-bottom: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
}


.ul-hor {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555555;
}

.li-hor {
  float: left;
}

.li-hor a {
  display: block;
  padding: 8px;
}



.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
