{% extends "mybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
header
{% block title %}Enter The Data Title Block{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Enter The Data content block </h1>
</div>
<!-- the navigation links -->

<div id="the whole thing" style="float:left; height:100%; width:100%">
    <div id="leftThing" style="float:left; width:30%; background-color:gray;alpha=0.8">
         <h1> Left </h1>
    </div>
    <div id="content" style="float:left; width:50%; background-color:gray;alpha=0.1">
         <h1> middle </h1>
    </div>
    <div id="more" style="float:right; width:20%; background-color:gray;">
      <h1> About </h1>
    <div id="rightThing" style="float:right; width:25%; background-color:gray;">
      text
      <h1>About</h1>
      <h1>Blog</h1>
      <h1>Projects</h1>
    </div>
</div>

<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <!-- A link around a shape -->
  <a href="/docs/Web/SVG/Element/circle">
    <circle cx="50" cy="40" r="35"/>
  </a>
  <!-- A link around a text -->
  <a href="/docs/Web/SVG/Element/text">
    <text x="50" y="90" text-anchor="middle">
      &lt;circle&gt;
    </text>
  </a>
</svg>
<svg width="1000" height="1000">
  <rect x="0" y="300" rx="20" ry="20" width="101" height="101" style="fill:gray;stroke:black;stroke-width:5;opacity:0.5" />
  <rect x="0" y="100" rx="20" ry="20" width="101" height="101" style="fill:gray;stroke:black;stroke-width:5;opacity:0.5" />

  <rect x="200" y="400" rx="20" ry="20" width="101" height="101" style="fill:gray;stroke:black;stroke-width:5;opacity:0.5" />
  <rect x="200" y="200" rx="20" ry="20" width="101" height="101" style="fill:gray;stroke:black;stroke-width:5;opacity:0.5" />
  <rect x="200" y="0" rx="20" ry="20" width="101" height="101" style="fill:gray;stroke:black;stroke-width:5;opacity:0.5" />
  <line x1="20" y1="20" x2="101" y2="101" style="stroke:rgb(0,0,0);stroke-width:2" />
  Sorry, your browser does not support inline SVG.
</svg>



<svg height="210" width="500">
  <line x1="20" y1="20" x2="101" y2="101" style="stroke:rgb(0,0,0);stroke-width:2" />
</svg>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
