{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Enter The Data{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Enter The Data</h1>
</div>
<!-- the navigation links -->

<ul.hor>
  <li><a href="#news">Projects</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul.hor>

<div class="page-header">
    <h1>About</h1>
    <h1>Blog</h1>
    <h1>Projects</h1>
</div>


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
